@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to right, #17161a, #242124 50%, #17161a);
}


.bg-dark {
  background: linear-gradient(to right, #17161a, #242124 50%, #17161a);
}


.main_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
background-image: url("../assets/images/azeroth.png");
  background-size: cover;
  background-attachment: fixed;
  .content_container {
    width: 1200px;
    margin: auto;
    color: white;
    min-height: 50vh;

  }
}


.faction_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 50px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

  .faction_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .faction_flag {
      cursor: pointer;
      margin: 10px;
    }

  }

}

.classe_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  padding: 50px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

  h1 {
    text-align: center;
    color: white;
    font-size: 32px;
  }


}


.enchant_container{
  display: flex;
  flex-direction: column;
  width: max-content;
}


.icon_links_container{

  &-right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.icon_stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://wow.zamimg.com/images/Icon/large/border/default.png), url(https://wow.zamimg.com/images/Icon/large/hilite/default.png);
  background-size: cover;

  &-large {
    height: 66px;
    width: 66px;

    a {
      width: 58px;
      height: 58px;
    }
  }

  &-medium {
    height: 33px !important;
    width: 33px !important;

    a {
      height: 30px !important;
      width: 30px !important;

    }
  }
}

.custom-wowtlkdb {
  border-radius: 5px;
}


.stuff_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin: 50px 0;
  padding-top: 50px;
  padding-bottom: 150px;

  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}


.build_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  padding: 50px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

  .build_container_items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  &-item {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;

    &-active {
      background-color: cornflowerblue;
    }
  }
}

.stuff_item_container {
  &-left {
    display: flex;
    margin: 5px 0;
    position: relative;
    .stuff_item_details{
      position: absolute;
      left:-40px;
    }
  }

  &-center {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
  }

  &-right {
    display: flex;
    margin: 5px 0;
    position: relative;
    .stuff_item_details{
    position: absolute;
    right:-30px;
    }


  }
}

.stuff_left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stuff_right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.stuff_bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 110px;
  margin-bottom: -100px;
}

.stuff_item_details {
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.stuff_item_container-bottom-right{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.article_content{
  h1{
    display: block; font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
  }
  h2 {
    display: block; font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
  }
  h3{
    display: block; font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
  }
  a{
    color: #57aad6
  }
}
